__pycache__/
*.py[cod]
*$py.class

env/
venv/
.env

C4ChineseLexer.interp
C4ChineseLexer.py
C4ChineseLexer.tokens
C4ChineseParser.interp
C4ChineseParser.py
C4ChineseParser.tokens
C4ChineseParserVisitor.py

*.tokens
*.interp
.antlr/

temp_run.c4
temp_debug.c4